# Go-avbot Configuration File
#
# This file provides an alternative way to configure go-avbotwhich does not involve HTTP APIs.
#
# This file can be supplied to go-avbotby the environment variable `CONFIG_FILE=config.yaml`.
# It will force go-avbotto operate in "config" mode. This means:
#   - go-avbotwill ONLY use the data contained inside this file.
#   - All of Go-NEB's /admin HTTP listeners will be disabled. You will be unable to add new services at runtime.
#   - The environment variable `DATABASE_URL` will be ignored and an in-memory database will be used instead.
#
# This file is broken down into 4 sections which matches the following HTTP APIs:
#   - /configureClient
#   - /configureAuthRealm
#   - /configureService
#   - /requestAuthSession (redirects not supported)

# The list of clients which go-avbotis aware of.
# Delete or modify this list as appropriate.
# See the docs for /configureClient for the full list of options:
# https://matrix-org.github.io/go-neb/pkg/github.com/matrix-org/go-neb/api/index.html#ClientConfig
clients:
  - UserID: "@goavbot:localhost"
    AccessToken: "MDASDASJDIASDJASDAFGFRGER"
    HomeserverURL: "http://localhost:8008"
    Sync: true
    AutoJoinRooms: true
    DisplayName: "Go-AVBOT!"


# The list of realms which go-avbotis aware of.
# Delete or modify this list as appropriate.
# See the docs for /configureAuthRealm for the full list of options:
# https://matrix-org.github.io/go-neb/pkg/github.com/matrix-org/go-neb/api/index.html#ConfigureAuthRealmRequest
realms:
  - ID: "github_realm"
    Type: "github"
    Config: {} # No need for client ID or Secret as go-avbotisn't generating OAuth URLs

# The list of *authenticated* sessions which go-avbotis aware of.
# Delete or modify this list as appropriate.
# The full list of options are shown below: there is no single HTTP endpoint
# which maps to this section.
# https://matrix-org.github.io/go-neb/pkg/github.com/matrix-org/go-neb/api/index.html#Session
sessions:
  - SessionID: "your_github_session"
    RealmID: "github_realm"
    UserID: "@YOUR_USER_ID:localhost"
    Config:
      # Populate these fields by generating a "Personal Access Token" on github.com
      AccessToken: "YOUR_GITHUB_ACCESS_TOKEN"
      Scopes: "admin:org_hook,admin:repo_hook,repo,user"


# The list of services which go-avbotis aware of.
# Delete or modify this list as appropriate.
# See the docs for /configureService for the full list of options:
# https://matrix-org.github.io/go-neb/pkg/github.com/matrix-org/go-neb/api/index.html#ConfigureServiceRequest
services:
  
  - ID: "echo_cmd_service"
    Type: "echo"
    UserID: "@goavbot:localhost"
    Config:

  - ID: "invoice_cmd_service"
    Type: "invoice"
    UserID: "@goavbot:localhost"
    Config:
      AllowedUsers: "@YOUR_USER_ID:localhost,@ANOTHER_USER_ID:localhost"

  - ID: "pentest_cmd_service"
    Type: "pentest"
    UserID: "@goavbot:localhost"
    Config:
      OpenVASIP: "127.0.0.1"
      OpenVASPort: "9390"
      OpenVASUsername: "admin"      
      OpenVASPassword: "admin"         
      AllowedUsers: "@YOUR_USER_ID:localhost,@ANOTHER_USER_ID:localhost"      

  - ID: aws_cmd_service"
    Type: "aws"
    UserID: "@goavbot:localhost"
    Config:
      Users:
        "@YOUR_USER_ID:localhost":
          AccessKey: "YOUR_AWS_ACCESS_KEY"
          SecretAccessKey: "YOUR_AWS_SECRET_ACCESS_KEY"    
          AccessToken: "YOUR_AWS_TOKEN (OPTIONAL)"
          Region: "us-west-2"
        "@ANOTHER_USER_ID:localhost":
          AccessKey: "YOUR_AWS_ACCESS_KEY"
          SecretAccessKey: "YOUR_AWS_SECRET_ACCESS_KEY"    
          AccessToken: "YOUR_AWS_TOKEN (OPTIONAL)"
          Region: "us-west-2"          

  - ID: "github_cmd_service"
    Type: "github"
    UserID: "@goavbot:localhost" # requires a Syncing client
    Config:
      RealmID: "github_realm"

    # Make sure your BASE_URL can be accessed by Github!
  - ID: "github_webhook_service"
    Type: "github-webhook"
    UserID: "@another_goavbot:localhost"
    Config:
      RealmID: "github_realm"
      ClientUserID: "@YOUR_USER_ID:localhost" # needs to be an authenticated user so go-avbotcan create webhooks.
      Rooms:
        "!someroom:id":
          Repos:
            "matrix-org/synapse":
              Events: ["push", "issues"]
            "matrix-org/dendron":
              Events: ["pull_request"]
        "!anotherroom:id":
          Repos:
            "matrix-org/synapse":
              Events: ["push", "issues"]
            "matrix-org/dendron":
              Events: ["pull_request"]

